*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg-header {
  background-image: url(../assets/images/office-3.jpg);
  background-size: cover;
  background-attachment: fixed;
  /* background: linear-gradient(#fff, #C1A8E4); */
  color: white;
}
.bg-nav {
  /* background-color:rgba(255, 0, 0, 0.5); */
  /* background-color: #C1A8E4; */
  background-color: transparent;
  transition: all 0.7s ease;
  padding: 15px;
  /* height: 70px; */
  /* transition: height 2s; */
}
.shadow {
  box-shadow: 0px 8px 10px #999;
}
.bg-black {
  background-color: black;
}
.border-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.border-bottom {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.bg-red-rgba {
  background-color:rgba(255, 0, 0, 0.5);
  background-color: #CFCFF3;
}
.font-ptincipal {
  font-family: 'Righteous', cursive;
}
.font-size-7rem {
  font-size: 7rem;
}
.font-size-9rem {
  font-size: 10rem;
}
.font-size-2rem {
  font-size: 25px;
}
.font-size-5rem {
  font-size: 5rem;
}
.navbar-default .navbar-nav > li > a {
    color:  white;
}
.navbar-default .navbar-nav > li > a:hover {
    color:  #f5f7f8;
    font-weight: bold;
}
.round {
  border-radius: 50%;
  border: 10px solid rgba(0,0,0,0.8);
  width: 120px;
  height: 120px;
  margin: auto;
  transition: box-shadow 0.2s;
}
.round:hover {
    box-shadow: 0px 5px 5px 0px #999;
    /* transition-duration: 0.25s; */
}
.borde {
  position: relative;
}
.barra {
  height: 15px;
  border: 5px solid rgba(0,0,0,0.8);
  border-radius: 5px;
  width: 50%;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 25px;
}
.font-size-15 {
  font-size: 15px;
}
.pd-top-15 {
  padding-top: 15px;
}
.width-50 {
  width: 50%;
}
.width-60 {
  width: 60%;
}
.width-70 {
  width: 70%;
}
.width-80 {
  width: 80%;
}
.height-15 {
  height: 5px;
}
.borde::before .borde::after {
  content: '';
  display: table;
   width: 100%;
   height: 0px;
 clear: both;
position: absolute;
right: 0;
}
.bg-white {
  background-color: white
}
.mg-top-bottom-45 {
  margin: 45px 0;
}
/*clases reutilizables */
.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pd-bottom-45{
  padding-bottom: 45px;
}
.pd-top-45{
  padding-top: 45px;
}
.mg-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.image {
  /* width: 300px; */
  height: 210px;
  margin: auto;
  border-radius: 5px;
  border: 2px solid #e1e3e6;
}
.border-radius{
  border-radius: 5px;
}
.bg-soft-gray {
  background-color: #C1A8E4;
  /* background: linear-gradient(#C1A8E4, white); */
}
.mg-45 {
  margin: 0 20px;
}
.mg-all-45 {
  margin: 45px;
}
h2{
  margin-top: 0;
  padding: 40px;
}
.mg-top-45 {
  margin-top: 45px;
}
.margin-bottom-25 {
  margin-bottom: 25px;
}
.bg-nav-scroll {
  background-color: #243b5d;
  transition: all 0.7s ease;
  /* color: rgb(247, 244, 244); */
  height: auto;
  padding: 5px;
  /* color: black; */
}
.color-blue-nav {
  color: #243b5d;
}
.color-black{
  color: black;
}
.rgba-9 {
  background-color: rgba(0,0,0,0.5);
}
.color-white {
  color: white;
}
.color-black {
  color: black
}
.pd-45 {
  padding: 45px;
}
.float-rigth {
  float: right;
}
.border-none {
  border: none;
}
.color-white {
  color: white;
}
.bg-white {
  background-color: #f5f7f8;
}
.color-aquamarine {
  color: #cddbb7;
}
.bg-aqua {
  background-color:#cddbb7;
}
.color-carmin {
  color: #9b3659;
}
.bg-carmin {
  background-color: #9b3659;
}
.bg-sof-soft-gray {
  background-color: #e1e3e6;
}
.margin-auto {
  margin:auto;
}
.font-size-18 {
  font-size: 18px;
}
.color-salmon {
  color: salmon;
}
.border-salmon {
  border-color: #ea877e;
}
.color-blue {
  color: #243b5d;
}
.color-turquesa {
  color: #4a979a;
}
.border-blue {
    border-color: #243b5d;
}
.border-turquesa {
    border-color: #4a979a;
}
.border-gray {
  border-color: rgba(0,0,0,0.7);
}
.color-gray {
  color: rgba(0,0,0,0.7);;
}
.img-0 {
  background-position: center bottom;
  background-size: cover;
}
.img-1 {
  background-image: url(../assets/images/labcar.png);
}
.img-2 {
  background-image: url(../assets/images/trello.png);
}
.img-3 {
  background-image: url(../assets/images/bn-branch.png);
}
.img-4 {
  background-image: url(../assets/images/foodmap.png);
}
.img-5 {
  background-image: url(../assets/images/twitter.png);
}
.img-6 {
  background-image: url(../assets/images/uber.png);
}
.pd-15 {
  margin-bottom: 15px;
}
.pd-bottom-0 {
  padding-bottom: 0;
}
.box-soft {
  padding: 15px;
  border: 2px solid #2b5169;
}
.mg-top-65 {
  margin-top: 65px;
}
.heigth-icon {
  height: 65px;
}
.pd-5 {
  padding-top: 10px;
}
.mg-auto {
  margin: auto;
}
.bg-ligthgreen {
  background-color: #c4cfdf;
}
.pd-top-bt-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pd-top-bt-65 {
  padding-top: 65px;
  padding-bottom: 65px;
}
/* ---------------------------

---------------------------- */
/* alturas */
.heigth-100 {
  height: 100vh;
}
.heigth-91 {
  height: 91vh;
}
.height-10 {
  height: 10vh;
}
.heigth-70 {
  height: 70vh;
}
.width-100 {
  width: 100vw;
}
.border {
  border: 10px solid #243b5d;
  border-radius: 5px;
}
.bg-blue {
  background-color: #243b5d;
}
.mg-10 {
  margin: 10px;
}
.big-round {
  width: 160px;
  height: 160px;
}
/* hr {
  height: 5px;
  border: 0;
  background-color: #243b5d;
  margin-left: 10%;
  margin-right: 10%;
} */
.pd-rigth-x {
  padding-right: 20px;
}
.pd-top-0 {
  padding-top: 0;
}
.mg-botom-15px {
  margin-bottom: 15px
}
.font-size-footer {
  font-size: 4rem;
}
.align-justify {
  text-align: justify;
}
.mg-b-x {
  margin-bottom: 25px;
}
.icon-image {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.icon-image-fire {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}
.pd-left-30 {
  padding-left: 60px;
}
.pd-bot-h2 {
  padding-bottom: 0px;
}
.pd-left-extracto {
  padding-left: 40px;
}
@media (min-width: 768px) {
  .pd-left-30 {
    padding-left: 30px;
  }
  .pd-left-extracto {
    padding-left: 40px;
  }
  .pd-bot-h2 {
    padding-bottom: 40px;
  }
  .icon-image {
    width: 135px;
    height: 140px;
    margin-bottom: 10px;
  }
  .icon-image-fire {
    width: 115px;
    height: 115px;
    margin-bottom: 15px;
  }
  .mg-b-x {
    margin-bottom: 15px;
  }
  .font-size-cont {
    font-size: 25px;
  }
  .mg-45 {
    margin: 0 45px;
  }
  .font-size-footer {
    font-size: 5rem;
  }
  .pd-rigth-x {
    padding-right: 0
  }
  .mg-botom-15px {
    margin-bottom: 0px
  }
  .font-size-9rem {
    font-size: 15rem;
  }
  .font-size-7rem {
    font-size: 10rem;
  }
  .font-size-2rem {
    font-size: 4rem;
  }
  .pd-rigth-15px {
    padding-right: 35px;
  }
  .border {
    border: 20px solid #243b5d;
    border-radius: 5px;
  }
  .round {
    border-radius: 50%;
    border: 10px solid rgba(0,0,0,0.8);
    width: 160px;
    height: 160px;
    margin: auto;
    transition: box-shadow 0.2s;
  }
  .big-round {
    width: 210px;
    height: 210px;
  }
  .color-salmon {
    color: salmon;
  }
  .border-salmon {
    border-color: #ea877e;
  }
  .color-blue {
    color: #243b5d;
  }
  .color-turquesa {
    color: #4a979a;
  }
  .border-blue {
      border-color: #243b5d;
  }
  .border-turquesa {
      border-color: #4a979a;
  }
}
